@import "./root.scss";

.cards {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  border: 0px;
}
.card {
  display: inline-grid;
  width: 20em;
  height: auto;
  border: 0px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 50%));
}
