@import "./root.scss";

.cards {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  border: 0px;
}
.card {
  display: inline-grid;
  width: 20em;
  height: auto;
  border: 0px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 50%));
}

.name{
  font-weight: 500;
  text-transform: capitalize;  
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 45%);
}

.price{
  color: #FF6868;
  font-weight: 500;
  text-transform: uppercase;  
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 45%);
}

.tag{
  font-weight: 500;
  text-transform: capitalize;  
  background-color: rgba(239, 255, 56,50);
  border-color: rgba(239, 255, 56,30);
  border-radius: 10px;
  width: 140px;
  height: 33px;
  
}

.tagBack{
  margin: 15px;

}