@import "./root.scss";

.cards {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  border: 1px;
}
.cards div {
  opacity: 0; /* Initially hide the paragraphs */
  animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Trigger the animation based on scroll position */
.cards div:nth-child(odd) {
  animation-delay: calc(2s * scroll-position-y / 100vh); /* Delay based on scroll */
}

.cards div:nth-child(even) {
  animation-delay: calc(0.4s * scroll-position-y / 100vh); /* Delay based on scroll */
}
.tagBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card2 {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 25%  5% 25% 22% 23%;
  width: 40%;
  height: 15em;
  border: 0px;
  padding: 20px;
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 50%));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
  :nth-child(1){
    grid-row: 1/3;
    grid-column: 1/5;
  }
  :nth-child(4){
    grid-row: 3;
    grid-column: 1;
  }
  :nth-child(4):hover{
    grid-row: 3;
    grid-column: 1;

  }
  :nth-child(5){
    grid-row: 3;
    grid-column: 3; 
  }
  :nth-child(5):hover{
    grid-row: 3;
    grid-column: 3;
  }
  
}


.mid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.btn1 {
  width: 10em;
  height: 3em;
  background-color: #dfd604;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 50%));
  margin-right: 5em;
}
.btn1:hover{
  box-shadow: 0 0 2px rgb(207, 207, 204),
  0 0 25px rgb(231, 231, 4), 0 0 10px rgb(220, 245, 30),
  0 0 10px rgb(255, 255, 0), 0 0 10px rgb(201, 236, 7);
}
.btn2 {
  width: 10em;
  height: 3em;
  background-color: #efff38;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 50%));
  margin-right: 5em;
}
.btn2:hover{
  box-shadow: 0 0 2px rgb(237, 253, 95),
  0 0 25px rgb(228, 252, 92), 0 0 10px rgb(250, 252, 142),
  0 0 10px rgb(255, 255, 0), 0 0 10px rgb(201, 236, 7);
}
.opt{
background-color: #efff38;
}
.opt:hover{
  background-color: #efff38;
}
.order {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding: 10px;
  background-color: $main-yellow;
  overflow-y: scroll;
  width: 40%;
  /* transform: translate(80%, -25%); */
}
.title {
  font-size: 2em;
  color: $main-blue;
  opacity: 0.8;
}

.img{
  width: 10em;
  margin: 1em;
}
.card3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fffafa;
  width: 90%;
  height: 90%;
  margin: 5px;
  border-radius: 70.5px;
}
.eclipse{
  display: flex;
  padding: 2%;
  width: 90%;
  height: 125px;
}
.flex2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.shift {
 transform: translate(0%, -25%);
}
.padding{
  transform: translate(-10%, -25%);
  align-items: center;
}
.cartBack {
  width: 40%;
  height: auto;
  border: 0px;
  padding: 20px;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 50%));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
}

.image2 {
  width: 100px;
  height: 70px;
  aspect-ratio: 16/9;
}

.cartBtn {
  background-color: #fff;
  border: 0;
  border-radius: 7px;
  font-size: 2em;
  width: 2em;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 50%));
  margin: 5px;
}
.home-area{
height: 600px;
width: 1250px;
display: flex;
justify-content: center;
color: $main-gold;
flex-direction: column;
margin-inline-start: 5%;
margin-inline-end: 5%;
padding-left: 15px;
}
.se-filt{
 display: flex;
 flex-direction: column;
 justify-content: center;
 justify-content: space-around;
 flex-wrap: wrap;
}
.search{
  display: flex;
  padding: 3px;
  padding-left: 52px;
  gap: 20px;
  color: $main-gold;
  align-items: center;
  font-size: larger;
}
.filter{
  display: flex;
  color: $main-gold;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  padding-left: 72px;
  gap:  8px;
  }
  #search{
    width: 250px; 
    height: 10px; 
    padding: 10px; 
    color: $main-blue;
    border: 1px solid $main-blue; 
    border-radius: 5px; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 5px $main-blue;
    outline: none;
  }
#tag{
  width: 270px; 
  height: 35px; 
  padding: 5px; 
  border: 1px solid $main-blue;
  border-radius: 5px; 
  color: $main-blue;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 5px $main-blue;
  outline: none;
  background-color: white;
}
#tag:hover{
  background-color: $main-blue;
  color: $main-yellow;
}
.body{
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid;
  padding: 2%;
  overflow-x: hidden;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 0px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fffffff4;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  :nth-child(1):hover{
    transform: translateY(-10px);
  transition: transform 0.5s ease-in-out; 
  }
}
.name {
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 45%);
}

.price {
  color: #ff6868;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 45%);
}

.tag {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgba(239, 255, 56, 50);
  border-color: rgba(239, 255, 56, 30);
  border-radius: 10px;
  width: 100px;
  height: 20px;
}
