:root {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
}

button {
  background-color: #ffff00;
  color: #c6bf16;
  cursor: pointer;
}

.submit {
  width: 100%;
  height: 2.5em;
  margin-top: 1.5em;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
}

.edit {
  width: 2.5em;
  height: 2.5em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
}

.pen {
  width: 1em;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .login {
  text-decoration: none;
  color: #ffff00;
}
.center .line {
  background-color: #000;
  margin-top: 1em;
  width: 100%;
  height: 1px;
}

@keyframes modal_animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
.form {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  color: #c6bf16;
  background-color: white;
  filter: drop-shadow(0 8px 32px rgba(31, 38, 135, 0.3));
  animation: 0.8s ease-out 0s 1 modal_animate;
}
.form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border-color: #001aff;
}

.detail {
  display: table;
  width: 500px;
  height: auto;
}
.detail p {
  display: table-row;
}
.detail label {
  display: table-cell;
}
.detail input {
  display: table-cell;
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #001aff;
}

nav {
  transform: translateX(5%);
  margin-top: 2%;
  margin-bottom: 2%;
}
nav .nav-element {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.body {
  margin: 3%;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
} */
.image {
  width: 50%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logOut {
  background-color: #f00;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  border: 0;
}

.cards {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  border: 1px;
}

.card {
  display: inline-grid;
  width: 20em;
  height: 20em;
  border: 0px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

.name {
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
}

.price {
  color: #ff6868;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
}

.tag {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(239, 255, 56);
  border-color: rgb(239, 255, 56);
  border-radius: 10px;
  width: 140px;
  height: 33px;
}

.tagBack {
  margin: 15px;
}

.card2 {
  /* display: flex; */
  width: 40%;
  height: 15em;
  border: 0px;
  padding: 20px;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
}

.mid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.btn1 {
  width: 10em;
  height: 3em;
  background-color: #dfd604;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  margin-right: 5em;
}

.btn2 {
  width: 10em;
  height: 3em;
  background-color: #efff38;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  margin-right: 5em;
}

.order {
  margin: 0;
  padding: 10px;
  background-color: #ffff00;
  width: 40%;
  /* transform: translate(80%, -25%); */
}

.title {
  font-size: 2em;
  color: #001aff;
  opacity: 0.8;
}

.img {
  width: 10em;
  margin: 1em;
}

.card3 {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: 5px;
  padding: 10px;
  border-radius: 70.5px;
}

.cartBack {
  width: 40%;
  height: auto;
  border: 0px;
  padding: 20px;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
}

.image2 {
  width: 30%;
  height: auto;
}

.cartBtn {
  background-color: #fff;
  border: 0;
  border-radius: 7px;
  font-size: 2em;
  width: 2em;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  margin: 5px;
}

.flex2 {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.shift {
  display: inline;
  position: absolute;
  transform: translate(120%, -25%);
}/*# sourceMappingURL=card.css.map */