:root {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  background-color: #ffff00;
  color: #c4be16;
  cursor: pointer;
}

.submit {
  width: 100%;
  height: 2.5em;
  margin-top: 1.5em;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.center .login {
  text-decoration: none;
  color: #ffff00;
}
.center .line {
  background-color: #000;
  margin-top: 1em;
  width: 100%;
  height: 1px;
}

@keyframes modal_animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
  color: #c4be16;
  background-color: white;
  filter: drop-shadow(0 8px 32px rgba(31, 38, 135, 0.3));
  animation: 0.8s ease-out 0s 1 modal_animate;
}
.form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border-color: #001aff;
}

.detail {
  display: table;
  width: 500px;
  height: auto;
}
.detail p {
  display: table-row;
}
.detail label {
  display: table-cell;
}
.detail input {
  display: table-cell;
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #001aff;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  margin: 2% 0 2% 10%;
}
nav .nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  color: #000;
  position: relative;
}
nav .nav-element:hover {
  background-color: #ffff00;
  color: #001aff;
  border-radius: 15px;
  transition: 0.3s;
}
nav .dropdown {
  position: relative;
}
nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c4c4c4;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 150px;
}
nav .dropdown .dropdown-content .dropdown-item {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px 10px;
}
nav .dropdown .dropdown-content .dropdown-item:hover {
  background-color: #ffff00;
  color: #001aff;
}
nav .dropdown:hover .dropdown-content {
  display: block;
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.body {
  margin: 3%;
  text-decoration: none;
}

.image {
  width: 50%;
  height: 100px;
  aspect-ratio: 16/9;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logOut {
  margin-top: 15px;
  background-color: #f00;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  border: 0;
}
.logOut:hover {
  box-shadow: 0 0 2px rgb(189, 104, 104), 0 0 25px rgb(226, 17, 17), 0 0 10px rgb(185, 24, 24), 0 0 10px rgb(255, 0, 0), 0 0 10px rgb(230, 70, 70);
}

.space {
  height: 10px;
}
.space .second {
  height: 100px;
}

.user-info {
  display: flex;
  border: 1px solid;
  margin: 5% 10%;
  padding: 1%;
}

.edit {
  width: 2.5em;
  height: 2.5em;
  margin: 1% 0 1% 5%;
  background-color: #fff;
  border: 1px solid #000;
  transform: scale(0.4);
}
.edit .pen {
  width: 1em;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.pen1 {
  width: 2.5em;
  height: 2.5em;
  margin: 1%;
  margin-left: 5%;
  background-color: #fff;
  border: 1px solid #fff;
  transform: scale(0.5);
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.size {
  width: 50%;
}

.rol {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}
.rol :nth-child(1) {
  padding-top: 5px;
  align-items: center;
  justify-content: center;
}

.desc-last {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}
.desc-last :nth-child(1) {
  margin-top: 15px;
}
.desc-last :nth-child(2) {
  margin: 5% 0 0 16%;
  grid-row: 1;
  grid-column: 2/4;
}
.desc-last :nth-child(3) {
  margin-top: 12px;
  grid-column: 4;
}

.cards {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  border: 1px;
}

.cards div {
  opacity: 0; /* Initially hide the paragraphs */
  animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Trigger the animation based on scroll position */
.cards div:nth-child(odd) {
  animation-delay: calc(2s * scroll-position-y / 100vh); /* Delay based on scroll */
}

.cards div:nth-child(even) {
  animation-delay: calc(0.4s * scroll-position-y / 100vh); /* Delay based on scroll */
}

.tagBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card2 {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 25% 5% 25% 22% 23%;
  width: 40%;
  height: 15em;
  border: 0px;
  padding: 20px;
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
}
.card2 :nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/5;
}
.card2 :nth-child(2) {
  grid-row: 3/5;
  grid-column: 4/6;
}
.card2 :nth-child(3) {
  grid-row: 3/5;
  grid-column: 4/6;
}
.card2 :nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}
.card2 :nth-child(4):hover {
  grid-row: 3;
  grid-column: 1;
}
.card2 :nth-child(5) {
  grid-row: 3;
  grid-column: 3;
}
.card2 :nth-child(5):hover {
  grid-row: 3;
  grid-column: 3;
}

.mid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.btn1 {
  width: 10em;
  height: 3em;
  background-color: #dfd604;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  margin-right: 5em;
}

.btn1:hover {
  box-shadow: 0 0 2px rgb(207, 207, 204), 0 0 25px rgb(231, 231, 4), 0 0 10px rgb(220, 245, 30), 0 0 10px rgb(255, 255, 0), 0 0 10px rgb(201, 236, 7);
}

.btn2 {
  width: 10em;
  height: 3em;
  background-color: #efff38;
  border-radius: 83px;
  color: black;
  border: 0;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  margin-right: 5em;
}

.btn2:hover {
  box-shadow: 0 0 2px rgb(237, 253, 95), 0 0 25px rgb(228, 252, 92), 0 0 10px rgb(250, 252, 142), 0 0 10px rgb(255, 255, 0), 0 0 10px rgb(201, 236, 7);
}

.opt {
  background-color: #001aff;
  color: white;
}

.order {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding: 10px;
  background-color: #ffff00;
  width: 40%;
  height: 500px;
  /* transform: translate(80%, -25%); */
}
.order .order-list {
  overflow-y: scroll;
  height: 83%;
}

.title {
  font-size: 2em;
  color: #001aff;
  opacity: 0.8;
}

.img {
  width: 10em;
  margin: 1em;
}

.card3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fffafa;
  width: 90%;
  height: 90%;
  margin: 5px;
  border-radius: 70.5px;
}

.eclipse {
  display: flex;
  padding: 2%;
  width: 90%;
  height: 125px;
}

.flex2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.shift {
  transform: translate(0%, -25%);
}

.padding {
  transform: translate(-10%, -25%);
  align-items: center;
}

.cartBack {
  width: 40%;
  height: auto;
  border: 0px;
  padding: 20px;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  font-size: 30;
  font-weight: bold;
  text-align: justify;
}

.image2 {
  width: 100px;
  height: 70px;
  aspect-ratio: 16/9;
}

.cartBtn {
  background-color: #fff;
  border: 0;
  border-radius: 7px;
  font-size: 2em;
  width: 2em;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  margin: 5px;
}

.home-area {
  height: 600px;
  width: 1250px;
  display: flex;
  justify-content: center;
  color: #c4be16;
  flex-direction: column;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  padding-left: 15px;
}

.se-filt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search {
  display: flex;
  padding: 3px;
  padding-left: 52px;
  gap: 20px;
  color: #c4be16;
  align-items: center;
  font-size: larger;
}

.filter {
  display: flex;
  color: #c4be16;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  padding-left: 72px;
  gap: 8px;
}

#search {
  width: 250px;
  height: 10px;
  padding: 10px;
  color: #001aff;
  border: 1px solid #001aff;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 5px #001aff;
  outline: none;
}

#tag {
  width: 270px;
  height: 35px;
  padding: 5px;
  border: 1px solid #001aff;
  border-radius: 5px;
  color: #001aff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 5px #001aff;
  outline: none;
  background-color: white;
}

#tag:hover {
  background-color: #001aff;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid;
  padding: 2%;
  overflow-x: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 0px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9568627451);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}
.card :nth-child(1):hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease-in-out;
}

.name {
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
}

.price {
  color: #ff6868;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
}

.tag {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(239, 255, 56);
  border-color: rgb(239, 255, 56);
  border-radius: 10px;
  width: 100px;
  height: 20px;
}/*# sourceMappingURL=card.css.map */