:root {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
}

button {
  background-color: #ffff00;
  color: #c6bf16;
  cursor: pointer;
}

.submit {
  width: 100%;
  height: 2.5em;
  margin-top: 1.5em;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
}

.edit {
  width: 2.5em;
  height: 2.5em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
}

.pen {
  width: 1em;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .login {
  text-decoration: none;
  color: #ffff00;
}
.center .line {
  background-color: #000;
  margin-top: 1em;
  width: 100%;
  height: 1px;
}

@keyframes modal_animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
.form {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  color: #c6bf16;
  background-color: white;
  filter: drop-shadow(0 8px 32px rgba(31, 38, 135, 0.3));
  animation: 0.8s ease-out 0s 1 modal_animate;
}
.form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border-color: #001aff;
}

.detail {
  display: table;
  width: 500px;
  height: auto;
}
.detail p {
  display: table-row;
}
.detail label {
  display: table-cell;
}
.detail input {
  display: table-cell;
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #001aff;
}

nav {
  transform: translateX(5%);
  margin-top: 2%;
  margin-bottom: 2%;
}
nav .nav-element {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.body {
  margin: 3%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.image {
  width: 50%;
  height: auto;
}

.admin-sidebar {
  background-color: #ffff00;
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;
  margin-top: 100px;
}
.admin-sidebar .sidebar-element {
  color: #001aff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.content {
  margin-left: 20%;
}

h2 {
  color: #c6bf16;
  text-align: center;
}

.form-group {
  width: 60%;
  display: grid;
}
.form-group label {
  color: #c6bf16;
  display: table-cell;
}
.form-group .input {
  width: 99%;
  height: 30px;
  border-radius: 5px;
  border-color: #001aff;
  display: table-cell;
}

.success-message {
  color: #3cff00;
  font-weight: bold;
  text-transform: uppercase;
}

table {
  background-color: #ffff00;
  margin-left: 20%;
  width: 70%;
  border-collapse: collapse;
  color: rgba(0, 26, 255, 0.5);
}
table .column {
  padding: 8px;
  border-right: 1px solid #ddd;
}
table .column:first-child {
  width: 1.5em;
}
table .column:nth-child(2) {
  width: 3em;
}
table .column:nth-child(3) {
  width: 4em;
}
table .column:nth-child(4) {
  width: 4em;
}
table .column:nth-child(4) {
  width: 6em;
}
table .column .Description {
  width: 5em;
}
table .bottom {
  border-bottom: 1px solid rgba(0, 26, 255, 0.5);
}

.btn-back {
  width: 5em;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 7px;
  padding: 2px;
}

.edit2 {
  width: 1em;
  height: 1em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.add {
  width: 1em;
  height: 1em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
  background-repeat: no-repeat;
  background-image: url("../assets/plus-solid.svg");
}

.del {
  width: 1em;
  height: 1em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
  background-repeat: no-repeat;
  background-image: url("../assets/trash-solid.svg");
}

.action {
  width: 12%;
}/*# sourceMappingURL=dashboard.css.map */