@import "./root.scss";

.modal {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 20px;
}
.middle {
  transform: translateY(30%);
}

select {
  border-color: $main-blue;
  width: 40%;
  height: 2em;
  margin: 1em;
}
