$main-yellow: #ffff00;
$main-blue: #001aff;
$main-gold: #c6bf16;

:root {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
}

button {
  background-color: $main-yellow;
  color: $main-gold;
  cursor: pointer;
}
.submit {
  width: 100%;
  height: 2.5em;
  margin-top: 1.5em;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
}
.edit {
  width: 2.5em;
  height: 2.5em;
  border: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #000;
}
.pen {
  width: 1em;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    text-decoration: none;
    color: $main-yellow;
  }

  .line {
    background-color: #000;
    margin-top: 1em;
    width: 100%;
    height: 1px;
  }
}

@keyframes modal_animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}

.form {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  color: $main-gold;
  background-color: lighten($color: #fff, $amount: 10%);
  filter: drop-shadow(0 8px 32px rgba(31, 38, 135, 30%));
  animation: 0.8s ease-out 0s 1 modal_animate;
  input {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border-color: $main-blue;
  }
}

.detail {
  display: table;
  width: 500px;
  height: auto;
  p {
    display: table-row;
  }
  label {
    display: table-cell;
  }
  input {
    display: table-cell;
    width: 80%;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    border-color: $main-blue;
  }
}

nav {
  transform: translateX(5%);
  margin-top: 2%;
  margin-bottom: 2%;
  .nav-element {
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.body {
  margin: 3%;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
} */

.image {
  width: 50%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logOut {
  background-color: #f00;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  border: 0;
}
