:root {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
  overflow-x: hidden;
}

button {
  background-color: #ffff00;
  color: #c5be04;
  cursor: pointer;
}

.submit {
  width: 100%;
  height: 2.5em;
  margin-top: 1.5em;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: center;
}
.center .login {
  text-decoration: none;
  color: #ffff00;
}
.center .line {
  background-color: #000;
  margin-top: 1em;
  width: 100%;
  height: 1px;
}

@keyframes modal_animate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
  color: #c5be04;
  background-color: white;
  filter: drop-shadow(0 8px 32px rgba(31, 38, 135, 0.3));
  animation: 0.8s ease-out 0s 1 modal_animate;
}
.form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border-color: #001aff;
}

.detail {
  display: table;
  width: 500px;
  height: auto;
}
.detail p {
  display: table-row;
}
.detail label {
  display: table-cell;
}
.detail input {
  display: table-cell;
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #001aff;
}

nav {
  transform: translateX(5%);
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
}
nav .nav-element {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.body {
  margin: 3%;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
} */
.image {
  width: 50%;
  height: 100px;
  aspect-ratio: 16/9;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logOut {
  background-color: #f00;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  border: 0;
}

.space {
  height: 10px;
}
.space .second {
  height: 100px;
}

.user-info {
  display: flex;
  border: 1px solid;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
  padding: 1%;
}

.edit {
  width: 2.5em;
  height: 2.5em;
  margin: 1%;
  margin-left: 5%;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000;
  transform: scale(0.4);
}
.edit .pen {
  width: 1em;
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.pen1 {
  width: 2.5em;
  height: 2.5em;
  margin: 1%;
  margin-left: 5%;
  background-color: #ffffff;
  border: 1px white solid;
  transform: scale(0.5);
  background-repeat: no-repeat;
  background-image: url("../assets/pen-solid.svg");
}

.row {
  margin-left: 80%;
}

.size {
  width: 50%;
}

.role {
  display: flex;
  flex-direction: row;
  width: 30%;
  padding-top: 2%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  flex-wrap: wrap;
}

.password {
  display: grid;
  background-color: #ffffff;
  width: 350px;
  grid-template-columns: 320px 5px;
}/*# sourceMappingURL=root.css.map */